flows (3).json
[
    {
        "id": "76e9c9ae0af3b4f9",
        "type": "tab",
        "label": "流程 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96acb6663f40bde2",
        "type": "mqtt in",
        "z": "76e9c9ae0af3b4f9",
        "name": "TTN_MQTT",
        "topic": "v3/lucky-application@ttn/devices/lucky-end-application/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e7c82748d7197fef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ea7b713a3e13792d",
                "8a15208e4aafb739"
            ]
        ]
    },
    {
        "id": "ea7b713a3e13792d",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a15208e4aafb739",
        "type": "function",
        "z": "76e9c9ae0af3b4f9",
        "name": "function 2",
        "func": "\nvar p = msg.payload.uplink_message.decoded_payload;\n\nif (!p) return null;\n\nvar ts = new Date().toISOString(); \n\nmsg.topic = `\n    INSERT INTO wifi_scans \n    (timestamp, ap1_mac, ap1_rssi, ap2_mac, ap2_rssi, ap3_mac, ap3_rssi) \n    VALUES \n    (?, ?, ?, ?, ?, ?, ?)\n`;\n\nvar m1 = p.AP1_MAC || \"\"; \nvar r1 = p.AP1_RSSI || 0;\n\nvar m2 = p.AP2_MAC || \"\"; \nvar r2 = p.AP2_RSSI || 0;\n\nvar m3 = p.AP3_MAC || \"\"; \nvar r3 = p.AP3_RSSI || 0;\n\nmsg.payload = [ts, m1, r1, m2, r2, m3, r3];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "17aa2ab3a83941be",
                "cd1a84d1f4ecb61e"
            ]
        ]
    },
    {
        "id": "17aa2ab3a83941be",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd1a84d1f4ecb61e",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Store WiFi Scan",
        "x": 1280,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5b68ea2e9eb51088",
        "type": "inject",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE wifi_scans (   timestamp TEXT,   ap1_mac TEXT, ap1_rssi INTEGER,   ap2_mac TEXT, ap2_rssi INTEGER,   ap3_mac TEXT, ap3_rssi INTEGER );",
        "x": 590,
        "y": 560,
        "wires": [
            [
                "1e94e12f79fd3b5d",
                "3b43ea9b104fd731"
            ]
        ]
    },
    {
        "id": "1e94e12f79fd3b5d",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "WiFi Scan",
        "x": 1050,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3b43ea9b104fd731",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 640,
        "wires": []
    },
    {
        "id": "b078d8810ea7648a",
        "type": "inject",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO ap_locations (mac, ssid, room, floor, x, y) VALUES ('58:97:BD:07:D6:62', 'CONGRES', 'PLACE1', 1, 10, 15), ('58:97:BD:CD:9C:61', 'CONGRES', 'PLACE2', 1, 40, 18), ('58:97:BD:CD:9C:62', 'eduroam', 'PLACE1', 1, 15, 40);",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "efd82bbbd280e89d"
            ]
        ]
    },
    {
        "id": "efd82bbbd280e89d",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1110,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0b990387e4899c9c",
        "type": "mqtt in",
        "z": "76e9c9ae0af3b4f9",
        "name": "TTN_MQTT",
        "topic": "v3/lucky-application@ttn/devices/lucky-end-application/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7c82748d7197fef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "7dabc552a50d17e0"
            ]
        ]
    },
    {
        "id": "7dabc552a50d17e0",
        "type": "function",
        "z": "76e9c9ae0af3b4f9",
        "name": "Prepare Query",
        "func": "var p = msg.payload.uplink_message.decoded_payload;\nif (!p) return null;\n\nvar scans = [];\nfor(var i=1; i<=3; i++) {\n    var mac = p[\"AP\"+i+\"_MAC\"];\n    var rssi = p[\"AP\"+i+\"_RSSI\"];\n    if (mac && mac !== \"00:00:00:00:00:00\") {\n        scans.push({mac: mac, rssi: rssi});\n    }\n}\n\nif (scans.length === 0) return null;\n\nmsg.scan_data = scans;\n\nvar mac_list = scans.map(function(s){ return \"'\" + s.mac + \"'\"; }).join(\",\");\nmsg.topic = \"SELECT mac, gps_lat, gps_lon FROM ap_locations WHERE mac IN (\" + mac_list + \")\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "3697a77e3ed7a46f",
                "2d0a58b8b6520706"
            ]
        ]
    },
    {
        "id": "3697a77e3ed7a46f",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "729a0220f1d6b80f",
                "d938b7f83b9f635f"
            ]
        ]
    },
    {
        "id": "729a0220f1d6b80f",
        "type": "function",
        "z": "76e9c9ae0af3b4f9",
        "name": "Calc Position",
        "func": "var db_aps = msg.payload;      \nvar scan_aps = msg.scan_data;   \n\nif (!db_aps || db_aps.length === 0) return null;\n\nvar sum_w_lat = 0; \nvar sum_w_lon = 0; \nvar sum_w = 0;   \n\nfor (var i = 0; i < db_aps.length; i++) {\n    var ref = db_aps[i];\n\n    var scan = scan_aps.find(function(s){ return s.mac === ref.mac; });\n    \n    if (scan) {\n        // Weight = (RSSI + 100)^2\n        var w = Math.pow((scan.rssi + 100), 2);\n        if(w <= 0) w = 0.1;\n\n        sum_w_lat += ref.gps_lat * w;\n        sum_w_lon += ref.gps_lon * w;\n        sum_w += w;\n    }\n}\n\nif (sum_w > 0) {\n    var final_lat = sum_w_lat / sum_w;\n    var final_lon = sum_w_lon / sum_w;\n\n    msg.payload = {\n        name: \"My ESP32\", \n        lat: final_lat,     \n        lon: final_lon,    \n        icon: \"user\",      \n        iconColor: \"red\",  \n        layer: \"Device\"     \n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 400,
        "wires": [
            [
                "a82c3dcf29d25798",
                "dbb4dd98dc23af0e"
            ]
        ]
    },
    {
        "id": "a82c3dcf29d25798",
        "type": "worldmap",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "lat": "48.8454020",
        "lon": "2.3569480",
        "zoom": "13",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1640,
        "y": 420,
        "wires": []
    },
    {
        "id": "2d0a58b8b6520706",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "e424d4235ec31435",
        "type": "inject",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS ap_locations (   mac TEXT PRIMARY KEY,   ssid TEXT,   gps_lat REAL,   gps_lon REAL,   room TEXT );",
        "x": 510,
        "y": 960,
        "wires": [
            [
                "aa4738c0b6e63385"
            ]
        ]
    },
    {
        "id": "aa4738c0b6e63385",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 910,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2f22744d12a58081",
        "type": "inject",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "cfbf2be87f3c320d"
            ]
        ]
    },
    {
        "id": "cfbf2be87f3c320d",
        "type": "file in",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "filename": "C:\\Users\\mzy41\\Desktop\\IOT_Projet\\ap_database.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 1100,
        "wires": [
            [
                "a01d5e84935fa77e",
                "b37ecada13abf0e6"
            ]
        ]
    },
    {
        "id": "dbb4dd98dc23af0e",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 520,
        "wires": []
    },
    {
        "id": "a01d5e84935fa77e",
        "type": "csv",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "spec": "rfc",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1230,
        "y": 1100,
        "wires": [
            [
                "98e8120b12905fc1",
                "dbea0bd61f18c5bb"
            ]
        ]
    },
    {
        "id": "98e8120b12905fc1",
        "type": "function",
        "z": "76e9c9ae0af3b4f9",
        "name": "SQL",
        "func": "\nvar rows = msg.payload;\n\nif (!rows || rows.length === 0) {\n    node.warn(\"Le résultat de l'analyse CSV est vide !\");\n    return null;\n}\n\nvar sqlValues = [];\n\nfor (var i = 0; i < rows.length; i++) {\n    var r = rows[i];\n    \n    if (r.mac) {\n        var mac = r.mac.toString().toUpperCase().trim(); \n        \n        var ssid = (r.ssid || '').toString().trim().replace(/'/g, \"''\");\n        \n        var lat = r.gps_lat || 0;\n        var lon = r.gps_lon || 0;\n        \n        var room = (r.room || '').toString().trim().replace(/'/g, \"''\");\n\n        sqlValues.push(`('${mac}', '${ssid}', ${lat}, ${lon}, '${room}')`);\n    }\n}\n\nif (sqlValues.length === 0) return null;\n\nvar sql = \"INSERT OR REPLACE INTO ap_locations (mac, ssid, gps_lat, gps_lon, room) VALUES \" + sqlValues.join(\",\");\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1100,
        "wires": [
            [
                "e133b1a549ad0ac2",
                "c9c212b07b15e0ce"
            ]
        ]
    },
    {
        "id": "e133b1a549ad0ac2",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1710,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "c9c212b07b15e0ce",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3e6e781c9fbcae9a",
        "type": "inject",
        "z": "76e9c9ae0af3b4f9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM ap_locations",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "3da49e42a1a4e80d"
            ]
        ]
    },
    {
        "id": "3da49e42a1a4e80d",
        "type": "sqlite",
        "z": "76e9c9ae0af3b4f9",
        "mydb": "ee87cfc1e751b19d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "1384c80a67b98a1a",
                "b1587554594267e4"
            ]
        ]
    },
    {
        "id": "1384c80a67b98a1a",
        "type": "function",
        "z": "76e9c9ae0af3b4f9",
        "name": "Show APS",
        "func": "var aps = msg.payload;\n\nfor (var i = 0; i < aps.length; i++) {\n    var ap = aps[i];\n\n    node.send({\n        payload: {\n            name: ap.ssid,     \n            lat: ap.gps_lat,   \n            lon: ap.gps_lon,     \n            icon: \"wifi\",      \n            iconColor: \"blue\",  \n            layer: \"Infrastructure\", \n            popup: \"Room: \" + ap.room + \"<br>MAC: \" + ap.mac // 点击弹窗信息\n        }\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "a82c3dcf29d25798"
            ]
        ]
    },
    {
        "id": "b37ecada13abf0e6",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 1220,
        "wires": []
    },
    {
        "id": "dbea0bd61f18c5bb",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 960,
        "wires": []
    },
    {
        "id": "b1587554594267e4",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "d938b7f83b9f635f",
        "type": "function",
        "z": "76e9c9ae0af3b4f9",
        "name": "Algo: Geometric Trilateration",
        "func": "\nvar A = -55;\nvar n = 3.0;\n\nvar db_aps = msg.payload;      \nvar scan_aps = msg.scan_data; \n\nif (!db_aps || db_aps.length === 0) {\n    node.warn(\"Erreur : les données de la base de données (db_aps) sont vides.\");\n    return null;\n}\nif (!scan_aps || scan_aps.length === 0) {\n    node.warn(\"Erreur : les données de scan (scan_aps) sont vides.\");\n    return null;\n}\n\nvar anchors = [];\n\nfor (var i = 0; i < db_aps.length; i++) {\n    var ref = db_aps[i];\n        var match = scan_aps.find(function(s){\n        var mac1 = s.mac.toString().toUpperCase().trim();\n        var mac2 = ref.mac.toString().toUpperCase().trim();\n        return mac1 === mac2;\n    });\n\n    if (match) {\n        var dist = Math.pow(10, (A - match.rssi) / (10 * n));\n        anchors.push({\n            x: ref.gps_lat,\n            y: ref.gps_lon,\n            r: dist,\n            ssid: ref.ssid\n        });\n    }\n}\n\nif (anchors.length < 3) {\n    node.warn(\"Échec : nombre insuffisant de points d'accès correspondants (moins de 3).: \" + anchors.length + \" 个。\");\n    return null; \n}\n\nanchors.sort(function(a, b){ return a.r - b.r; });\nvar p1 = anchors[0];\nvar p2 = anchors[1];\nvar p3 = anchors[2];\n\nvar x1 = p1.x, y1 = p1.y, r1 = p1.r;\nvar x2 = p2.x, y2 = p2.y, r2 = p2.r;\nvar x3 = p3.x, y3 = p3.y, r3 = p3.r;\n\nvar A_val = 2 * x2 - 2 * x1;\nvar B_val = 2 * y2 - 2 * y1;\nvar C_val = Math.pow(r1, 2) - Math.pow(r2, 2) - Math.pow(x1, 2) + Math.pow(x2, 2) - Math.pow(y1, 2) + Math.pow(y2, 2);\n\nvar D_val = 2 * x3 - 2 * x2;\nvar E_val = 2 * y3 - 2 * y2;\nvar F_val = Math.pow(r2, 2) - Math.pow(r3, 2) - Math.pow(x2, 2) + Math.pow(x3, 2) - Math.pow(y2, 2) + Math.pow(y3, 2);\n\nvar denominator = E_val * A_val - B_val * D_val;\n\nif (Math.abs(denominator) < 0.00001) {\n    node.warn(\"Échec : erreur mathématique, trois points colinéaires, insoluble (dénominateur égal à zéro)\");\n    return null;\n}\n\nvar x = (C_val * E_val - F_val * B_val) / denominator;\nvar y = (C_val * D_val - A_val * F_val) / denominator; \nif (isNaN(x) || isNaN(y)) {\n    node.warn(\"Échec : le résultat du calcul est NaN.\");\n    return null;\n}\n\nmsg.payload = {\n    name: \"Algo_Geometric\",\n    lat: x,\n    lon: y,\n    icon: \"star\",\n    iconColor: \"orange\",\n    layer: \"Algorithm_Comparison\",\n    popup: \"Geometric: \" + anchors.length + \" APs used\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 520,
        "wires": [
            [
                "a82c3dcf29d25798",
                "d406f7fef234ae1b"
            ]
        ]
    },
    {
        "id": "d406f7fef234ae1b",
        "type": "debug",
        "z": "76e9c9ae0af3b4f9",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7c82748d7197fef",
        "type": "mqtt-broker",
        "name": "TTN MQTT Broker",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee87cfc1e751b19d",
        "type": "sqlitedb",
        "db": "C:\\Users\\mzy41\\.node-red\\geoloc.db",
        "mode": "RWC"
    },
    {
        "id": "ca88758478baf906",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "node-red-contrib-web-worldmap-cn": "4.8.2"
        }
    }
]